body
{
	font-family: georgia;
	font-size: 10pt;
	margin: 0px;
	background-color: #e1dfd9;
}
a:link
{
	text-decoration: none;
	color: #aa0000;
}
a:hover
{
	text-decoration: underline;
	color: red;
}
a:active
{
	text-decoration: underline;
	color: #000000;
}
a:visited
{
	text-decoration: none;
	color: #0000AA;
}
img.borderless
{
	border: 0px;
}
img.xhtmlimage
{
	height: 31px;
	width: 88px;
	opacity: 0.5;
}
.backgroundimage1
{
	position: absolute;
	width: 100%;
	height: 128px;
	z-index: 0;
}
.backgroundimage2
{
	width: 100%;
	height: 400px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
div.paperdrop
{
	background-image: url('images/paper-grad10x10.png');
	width: 100%;
	height: 10px;
	position: absolute;
	z-index: 1;
	background-repeat: repeat-x;
}
div.bottomthingy
{
	position: absolute;
	top: 128px;
	width: 100%;
	background-color: #e1dfd9;
	z-index: 1;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
div.watermark
{
	position: absolute;
	z-index: 2;
}
div.ccbold
{
	font-size: 16pt;
	margin-bottom: 5px;
}
img.watermark
{
	height: 470px;
	width: 470px;
}
img.watermark2
{
	height: 341px;
	width: 470px;
}
div.topleft
{
	position: relative;
	left: 5%;
	z-index: 3;
	margin-top: 3%;
	float: left;
	font-size: 12pt;
	line-height: 18pt;
}
div.topleft2
{
	position: relative;
	left: 8%;
	z-index: 3;
	margin-top: 3%;
	float: left;
	font-size: 12pt;
	line-height: 18pt;
}
div.topright
{
	position: relative;
	float: right;
	text-align: right;
	z-index: 1;
	width: 200px;
	margin-right: 5%;
	margin-top: 3%;
}
div.topright .name
{
	font-size: 12pt;
	line-height: 18pt;
}
div.bottom
{
	position: absolute;
	width: 100%;
	top: 0px;
	border: 0px solid blue;
	margin: 0;
	padding: 0;
}
div.bottom .centercontent
{
	margin: 0 auto;
	width: 610px;
	margin-top: 10%;
	text-align: center;
	border: 0px solid green;
}
.centercontent .heading
{
	font-weight: bold;
	font-size: 12pt;
}
div.bottomleft
{
	top: 130px;
	width: 200px;
	float: left;
	position: relative;
	left: 5%;
	z-index: 1;
}
div.bottomright
{
	width: 200px;
	top: 100px;
	position: relative;
	float: right;
	text-align: right;
	z-index: 1;
	border: 0px solid red;
	margin-right: 5%;
}
div.aboutmethingy
{
	position: absolute;
	top: 128px;
	background-color: grey;
	width: 100%;
	display: none;
	z-index: 4;
	border-bottom: 1px solid black;
}
div.ipswitchthingy
{
	position: absolute;
	top: 128px;
	background-color: grey;
	width: 100%;
	display: none;
	z-index: 4;
	border-bottom: 1px solid black;
}
div.aboutthingy
{
	position: absolute;
	top: 128px;
	background-color: grey;
	width: 100%;
	display: none;
	z-index: 4;
	border-bottom: 1px solid black;
}
/* Ipswitch Content */
img.iplogoimage
{
	padding-top: 5px;
	padding-left: 5px;
}
div.aboutmecaption
{
	width: 640px;
	background-color: black;
	margin: auto;
	margin-bottom: 0px;
	display: block;
	height: 100px;
	position: relative;
	background-image: url("images/aboutme-headtile01.jpg");
	border: 1px solid black;
}
div.ipswitchcaption
{
	width: 640px;
	background-color: black;
	margin: auto;
	margin-bottom: 0px;
	display: block;
	height: 100px;
	position: relative;
	background-image: url("images/ipswitch-citytiles01.gif");
	border: 1px solid black;
}
div.caption-aboutme
{
	position: relative;
	left: 80px;
	top: -100px;
	font-size: 10pt;
	color: white;
}
div.caption-ipswitch
{
	position: relative;
	left: 40px;
	top: -100px;
	font-size: 10pt;
	color: white;
}
div.title
{
	padding-top: 10px;
	text-align: left;
	font-size: 24pt;
}
div.heading
{
	width: 640px;
	margin: auto;
	font-size: 14pt;
	background-color: black;
	color: white;
	text-align: center;
	border: 1px solid black;
}
div.heading a:link
{
	color: #AA0000;
}
div.heading a:visited
{
	color: white;
	text-decoration: underline;
}
div.heading a:hover
{
	color: red;
}
div.watermark2
{
	position: absolute;
	z-index: -1;
}
div.content
{
	margin: auto;
	position: relative;
	width: 630px;
	background-color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-top: 0px;
	margin-top: 0px;
	z-index: 3;
	padding: 5px;
	font-size: 8pt;
	text-indent: 1em;
}
div.short
{
	text-align: center;
	text-indent: 0em;
}
div.content a:link
{
	color: #AA0000;
}
div.content a:visited
{
	color: black;
	text-decoration: underline;
}
div.content a:hover
{
	color: red;
	text-decoration: underline;
}