@font-face {
  font-family: 'gothic_ultra_otregular';
  src: url("gothic_ultra_ot-webfont.eot");
  src: url("gothic_ultra_ot-webfont.eot?#iefix") format("embedded-opentype"), url("gothic_ultra_ot-webfont.woff") format("woff"), url("gothic_ultra_ot-webfont.ttf") format("truetype"), url("gothic_ultra_ot-webfont.svg#gothic_ultra_otregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?b11l2s");
  src: url("icomoon.eot?b11l2s#iefix") format("embedded-opentype"), url("icomoon.ttf?b11l2s") format("truetype"), url("icomoon.woff?b11l2s") format("woff"), url("icomoon.svg?b11l2s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'gothic_ultra_otregular';
  src: url("gothic_ultra_ot-webfont.eot");
  src: url("gothic_ultra_ot-webfont.eot?#iefix") format("embedded-opentype"), url("gothic_ultra_ot-webfont.woff") format("woff"), url("gothic_ultra_ot-webfont.ttf") format("truetype"), url("gothic_ultra_ot-webfont.svg#gothic_ultra_otregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?b11l2s");
  src: url("icomoon.eot?b11l2s#iefix") format("embedded-opentype"), url("icomoon.ttf?b11l2s") format("truetype"), url("icomoon.woff?b11l2s") format("woff"), url("icomoon.svg?b11l2s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

.modal-hidden {
  display: none;
}

.modalWrapper {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  z-index: 12;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  padding: 20px;
  left: 50%;
  top: 50%;
  background: #888;
  width: 600px;
}

@media all and (max-width: 1024px) {
  .modalWrapper {
    width: 100%;
    -webkit-transform: none;
            transform: none;
    left: 0;
    top: 33%;
  }
}

.modalWrapper.visible {
  display: block;
}

.modalWrapper .modalClose {
  position: absolute;
  right: 0;
  top: -40px;
  background: #888;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  font-family: 'icomoon';
}

.modalWrapper .modalClose:before {
  content: '\e900';
}

.modalWrapper .htmlContent.visible, .modalWrapper .modalContent.visible {
  display: block;
  z-index: 3;
}

.modalContent img {
  width: 100%;
}

.modalBg {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

.modalBg.visible {
  display: block;
}

.modalContentWrapper {
  display: block;
  overflow-y: auto;
  max-height: calc(100vh - 20px);
}

.htmlContent {
  padding: 10px 30px;
}

.htmlContent > div {
  background-color: white;
  display: block;
  width: 100%;
}

.htmlContent video {
  width: 100%;
  height: auto;
  display: block;
}

.htmlContent .youtubewrapper {
  width: 100%;
  position: relative;
  padding: 25px 0 56.25% 0;
  height: 0;
  min-width: calc(100vw - 320px);
}

.htmlContent .youtubewrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ol {
  padding: 0 2rem 2rem 2rem;
}

ol li {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

ul li {
  line-height: 1.5rem;
  margin-bottom: 0;
}

ul ul {
  margin-top: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  font-family: "ubuntu", sans-serif;
  font-size: 1rem;
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [col1-start] 60% [col2-start] 40% [col2-end];
      grid-template-columns: [col1-start] 60% [col2-start] 40% [col2-end];
  -ms-grid-rows: [row1-start] auto [row1-end];
      grid-template-rows: [row1-start] auto [row1-end];
}

@media all and (max-width: 1024px) {
  .grid {
    -ms-grid-rows: [row1-start] 240px [row2-start] auto [row2-end];
        grid-template-rows: [row1-start] 240px [row2-start] auto [row2-end];
    -ms-grid-columns: [col1-start] 100% [col1-end];
        grid-template-columns: [col1-start] 100% [col1-end];
  }
}

.container2 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  height: 100%;
}

.container1 {
  position: relative;
  font-size: 0;
}

.commenthidden {
  visibility: hidden;
  display: none;
}

.commenthidden {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.lesson {
  grid-column: col1-start / col2-end;
  grid-row: row1-start / row1-end;
  display: inline-block;
  overflow-y: scroll;
  height: 100vh;
  background-color: #ddd;
}

@media all and (max-width: 1024px) {
  .lesson {
    grid-column: col1-start / col1-end;
    grid-row: row1-start / row2-end;
    height: 100vh;
  }
}

.comment {
  overflow-y: scroll;
  height: 100vh;
  background-color: #333;
  color: #ddd;
  grid-column: none;
  grid-row: row1-start / row1-end;
}

@media all and (max-width: 1024px) {
  .comment {
    grid-column: col1-start / col1-end;
    grid-row: row2-end;
    height: calc(100vh - 240px);
  }
}

.comment .content {
  border-bottom: 1px solid #ddd;
}

@media all and (max-width: 1024px) {
  .comment .content {
    border-bottom: none;
  }
}

.lessontitle {
  font-family: "gothic_ultra_otregular", serif;
}

.lessonbody {
  width: 100%;
  font-size: 1.4rem;
  font-family: "EB Garamond", serif;
  color: #333;
  background-color: #ddd;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  display: inline-block;
  float: none;
}

@media all and (max-width: 1024px) {
  .lessonbody {
    height: 100%;
  }
}

.lessonbody p {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

@media all and (max-width: 1024px) {
  .lessonbody p {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.lessonbody h1 {
  padding-left: 2rem;
  margin: 0;
  padding-top: 3rem;
  font-size: 3.5rem;
  font-weight: normal;
}

@media all and (max-width: 1024px) {
  .lessonbody h1 {
    padding-left: 1rem;
  }
}

.lessonbody a {
  color: #333;
}

.lessonbody a:active, .lessonbody a:visited, .lessonbody a:hover {
  color: #333;
}

.lessonfooter {
  text-align: center;
  font: 0.8em verdana;
  margin-bottom: 50px;
  padding: 0 20px;
}

@media all and (max-width: 1024px) {
  .lessonfooter {
    font-size: 1em;
  }
}

.lessonfooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lessonfooter ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 1024px) {
  .lessonfooter ul li {
    display: block;
    line-height: 1.8em;
    width: 180px;
    margin: 0 auto;
  }
}

.lessonfooter ul li:after {
  content: '|';
  padding: 0 5px;
}

@media all and (max-width: 1024px) {
  .lessonfooter ul li:after {
    float: right;
  }
}

@media all and (max-width: 1024px) {
  .lessonfooter ul li:before {
    content: '|';
    padding: 0 5px;
    float: left;
  }
}

.lessonfooter ul li:last-of-type:after {
  content: '';
}

@media all and (max-width: 1024px) {
  .lessonfooter ul li:last-of-type:after {
    content: '|';
  }
}

@media all and (max-width: 1024px) {
  .lessonfooter {
    margin-top: 50px;
  }
}

.commentfooter {
  text-align: center;
}

.commentbody {
  color: #ddd;
}

.commentbody p {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.commentbody .commenthidden {
  display: block;
  visibility: visible;
}

.commentbody blockquote {
  background-color: black;
  padding: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 2rem 0;
  position: relative;
}

.commentbody blockquote:before, .commentbody blockquote:after {
  content: '\e902';
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: auto;
  right: auto;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.15);
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.commentbody blockquote:after {
  content: '\e903';
  bottom: 0;
  right: 10px;
  top: auto;
  left: auto;
}

.commentbody blockquote p {
  z-index: 1;
  padding: 0 2rem;
  margin: 1rem 0;
  line-height: 1.5rem;
  position: relative;
}

.lessonlink {
  border-bottom: 1px black dashed;
}

.lessonlink:hover, .lessonlink.soHotRightNow {
  background: #999;
  color: #aa0000;
  cursor: pointer;
}

.audiolink {
  border-bottom: 1px black dashed;
}

.audiolink:hover {
  background: #999;
  text-decoration: none;
  color: #aa0000;
  cursor: pointer;
}

.mouseover {
  background: #999;
  text-decoration: none;
  color: #aa0000;
  cursor: pointer;
}

.external:after {
  content: ' \e901';
  font-family: 'icomoon';
  color: inherit;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8em;
  font-style: normal;
}

a:hover {
  color: red;
}

a:active {
  color: white;
}

a:visited {
  color: #888;
}

p.horizline {
  border-bottom: 1px solid #ddd;
}

.smaller .lesson {
  grid-column: col1-start;
  grid-row: row1-start;
}

@media all and (max-width: 1024px) {
  .smaller .lesson {
    grid-column: col1-start / col1-end;
    grid-row: row1-start / row1-start;
    height: 100%;
  }
}

.smaller .comment {
  grid-column: col2-start / col2-end;
  grid-row: row1-start;
}

@media all and (max-width: 1024px) {
  .smaller .comment {
    grid-column: col1-start / col1-end;
    grid-row: row2-start / row2-end;
  }
}

.comment a {
  text-decoration: none;
}

.comment a:link {
  color: #dd0000;
}

.comment a:visited {
  color: #aa0000;
}

.comment a:hover {
  color: red;
}

.lessonfooter a {
  color: #aa0000;
}
/*# sourceMappingURL=lessons.css.map */